<!-- <div ng-controller="centerColumnController" class="center-column debug-border"> -->
<div ng-view class="center-column debug-border">
center column <button ng-click="doStuff()">Hello</button>
	<div class="top-bio-container debug-border">bio
		<div class="top-bio-info debug-border"></div>
		<div class="top-bio-pic debug-border"></div>
	</div>
	<div class="debug-border">wall
		<div class="center-col-card debug-border">
		center column content card
		</div>
		<div class="center-col-card debug-focus">
		center column content card
		</div>
		<div class="center-col-card debug-border">
		center column content card
		</div>
	</div>
</div>