<div class="left-column debug-border">left column
	<div class="left-col-card debug-okay">
	left column content card
	</div>
	<div class="left-col-card debug-border">
	left column content card
	</div>
</div>