<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div id="carousel-custom" class="carousel slide" data-ride="carsousel" data-wrap="false">

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<p>
					  <div class="row">
					    <div class="col-lg-12" style="height:400px">
					      <div class="panel panel-default">
					        <div class="panel-heading">
					          <span class="h1">come on in.</span>
					        </div>
					        <div class="panel-body">
					          <form id="login-form" name="login-form" class="form-group">
					            <fieldset>
					              <p><input label="Email" id="login-email" name="login-email"
					                type="email" placeholder="Email" class="form-control"
					                ng-model="userCreds.email" required></input></p>
					              <p><input label="Password" id="login-pass" name="login-pass"
					                type="password" placeholder="Password" class="form-control"
					                ng-model="userCreds.password" required></input></p>
												<p><div class="" style="background-color:#f5f5f5;height:50px;">
													<flash-message id="login-flash"
														name="login-flash"
														duration="0"
														show-close="false"
														on-dismiss=""></flash-message></div></p>
												<!-- <a href="#">forgot password?</a> -->
					              <p><button ng-disabled="loginBtnDisabled()"
													class="btn freetime"
													ng-class="{'custom-disabled':loginBtnDisabled()}"
													ng-click="submitLogin(userCreds)">submit</button></p>
												<a class="" href="#" ng-click="loginFlashForgotPassword()">forgot password?</a>
					            </fieldset>
					        </form>
					        </div>
					      </div>
					    </div>
					  </div>
					</p>
				</div>

				<div class="item">
					<p>
						<div class="row">
							<div class="col-lg-12 col-lg-offset-0" style="height:400px">
								<div class="panel panel-default">
									<div class="panel-heading">
										<span class="h1">new here?</span>
									</div>
									<div class="panel-body">
										<form id="regForm" name="regForm" class="form-group">
											<fieldset>
												<p><input label="Email" id="registerUser" name="registerUser"
													type="email" placeholder="Email" class="form-control"
													ng-model="user.email" required></input></p>
													<!-- <p><input label="Username" id="registerUsername" name="registerUsername"
														type="text" placeholder="Username" class="form-control"
														ng-model="user.username" required></input></p> -->
													<p class="row" style="float: none; margin: 0 auto;">
														<input label="First Name" id="regFirstName" name="regFirstName"
														type="text" placeholder="First Name" class="form-control ft-input col-lg-6"
														ng-model="user.firstName" required ></input>
														<input label="Last Name" id="regLastName" name="regLastName"
														type="text" placeholder="Last Name" class="form-control ft-input col-lg-6"
														ng-model="user.lastName" required ></input>
													</p>

													<hr>

													<p><input label="Password1" id="regPass1" name="regPass1"
														type="password" placeholder="Password" class="form-control"
														ng-change="validate()" ng-minlength="8"
														ng-model="user.password" required ></input></p>

														<p><input label="Password2" id="passwordConfirm" name="passwordConfirm"
														type="password" placeholder="Confirm Password" class="form-control"
														ng-if="!regForm.regPass1.$error.required && !regForm.regPass1.$error.minlength"
														compare-to="user.password"
														ng-model="user.passwordConfirm"	required /></p>

													<p><div class="" style="background-color:#f5f5f5;height:50px;">
														<flash-message id="signup-flash"
															name="signup-flash"
															duration="0"
															show-close="false"
															on-dismiss=""></flash-message></div></p>

													<!-- INVESTIGATE AND DELETE WHEN THIS DOESN'T WORK -->
													<!-- <p><span class="msg-error" ng-show="regForm.passwordConfirm.$error.compareTo"
														style="color:red">passwords don't match!</span></p> -->

												<!-- userSignup(user) ???? -->
												<button ng-disabled="signupBtnDisabled()"
													class="btn freetime"
													ng-class="{'custom-disabled':signupBtnDisabled()}"
													ng-click="submitSignupInfo(user)">submit</button>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</p>
				</div>
			</div>

			<div class="carousel-indicators debug-border row">
				<button class="col-lg-6 user-portal-btn active" role="button"
				data-target="#carousel-custom" data-slide-to="0">login
					<span class="glyphicon glyphicon-log-in"></span>
				</button>
				<button class="col-lg-6 user-portal-btn" role="button"
					data-target="#carousel-custom" data-slide-to="1">sign up
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>

		</div>
	</div>
</div>

</p>

<br>
<br>

<!-- TODO: Move this section to ADMIN panel -->
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="text-left panel panel-default">
			<div class="panel-heading">
				<p><button class="btn btn-danger" ng-click="getAllUsers()">GetAllUsers</button></p>
			</div>
			<div class="panel-body">
				<fieldset>
					<p><input id="demo" name="demo" class="form-control"
						ng-model="demo.field"
						placeholder="This is a demo" ng-change="checkPasswordMinLength()"></input></p>
					<div class="debug-border">
						<!-- TODO: Import user-list-item template via ng-include -->
						<div label="List Of Users" name="getAllUsers" class="debug-border"
						ng-model="listOfUsers" style="color:black; padding: 10px;">{{listOfUsers}}</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
