<p>
  <div class="row">
    <div class="col-lg-12" style="height:400px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="h1">come on in.</span>
        </div>
        <div class="panel-body">
          <form id="login-form" name="login-form" class="form-group">
            <fieldset>
              <p><input label="Email" id="login-email" name="login-email"
                type="email" placeholder="Email" class="form-control"
                ng-model="userCreds.email" required></input></p>
              <p><input label="Password" id="login-pass" name="login-pass"
                type="password" placeholder="Password" class="form-control"
                ng-model="userCreds.password" required></input></p>
              <button ng_disabled="btnsDisabled()" class="btn freetime" ng-click="submitLogin(userCreds)">submit</button>
            </fieldset>
        </form>
        </div>
      </div>
    </div>
  </div>
</p>
