<div ng-controller="mainContainerController" class="main-container debug-border">

	<span ng-include src="'static/app/components/main-container/left-column/left-column.view.html'"></span>
	<span ng-include src="'static/app/components/main-container/center-column/center-column.view.html'"></span>
	<span ng-include src="'static/app/components/main-container/right-column/right-column.view.html'"></span>
	
</div>