<!-- The NavBarController is not being injected here, so this will need to be declared -->
<!-- <div class="nav navbar-nav top-navbar" ng-controller="NavBarController">
	<div class="logo">FREE</div>
	<li><a href="/home">Home</a></li>
	<li><a href="/profile">Profile</a></li>
	<li ng-if="!isLoggedIn"><a href="/login">Login</a></li>
	<li ng-if="isLoggedIn"><a ng-click="logout()" href="">Logout</a></li>
	<div class="menu-button">TIME</div>
</div> -->

<div class="container">
	<nav role="navigation" ng-controller="NavBarController">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#" style="color:#00ffff;font-size:24px;font-weight:bold;">freetime</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav" ng-if="isLoggedIn">
	        <li class="active"><a href="/test">Test <span class="sr-only">(current)</span></a></li>
					<li><a href="/home">Home</a></li>
					<li><a href="/profile">Profile</a></li>
					<li ng-if="!isLoggedIn"><a href="/login">Login</a></li>
					<li ng-if="isLoggedIn"><a ng-click="logout()" href="">Logout</a></li>
	      </ul>
	      <form class="navbar-form navbar-left" ng-if="isLoggedIn">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li ng-hide="!isLoggedIn"><a href="#">Hello, {{user.firstName}}!</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>
