<span class="h1">PROFILE</span>
<p><span class="debug-border" ng-model="tagline" style="color:black; padding: 5px;">{{tagline}}</span></p>
<div class="row debug-border">
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-centered" style="background:red">
		<div class="col-lg-4 debug-border">
			<div style="background:#bfbfbf;width:250px;height:250px"></div>
		</div>

		<div class="col-lg-8 debug-border">
			<form><fieldset class="debug-border">
				<div class="form-group row">
					<label for="profileUserId" class="col-lg-3 col-form-label">user id [DEBUG]:</label>
					<div class="col-lg-9">
						<span id="profileUserId" name="profileUserId" class="form-control label-grey"
						ng-model="user._id" disabled>{{user._id}}</span>
					</div>
				</div>

				<div class="form-group row">
					<label for="profileEmail" class="col-lg-3 col-form-label">email [DEBUG]:</label>
					<div class="col-lg-9">
						<span id="profileEmail" name="profileEmail" class="form-control label-grey"
						ng-model="user.email" disabled>{{user.email}}</span>
					</div>
				</div>

				<div class="form-group row">
					<label for="profileFirstName" class="col-lg-3 col-form-label">first name:</label>
					<div class="col-lg-9">
						<input id="profileFirstName" name="profileFirstName" class="form-control"
						type="text" placeholder="first name" ng-model="user.firstName" />
						<!-- <span class="glyphicon glyphicon-pencil"></span> -->
					</div>
				</div>

				<div class="form-group row">
					<label for="profileLastName" class="col-lg-3 col-form-label">last name:</label>
					<div class="col-lg-9">
						<input id="profileLastName" name="profileLastName" class="form-control"
						type="text" placeholder="last name" ng-model="user.lastName" />
					</div>
				</div>

				<p><button ng-click="">UPDATE PROFILE</button></p>
			</fieldset></form>
		</div>
	</div>
</div>
