<div class="right-column debug-border">right column
	<div class="right-col-card debug-error">
	right column content card
	</div>
	<div class="right-col-card debug-border">
	right column content card
	</div>
</div>