/** CUSTOM STYLES **/
.freetime {
	background-color: #d9d9d9;
	border-color: #ccc;
	color: #666;
	font-weight: bold;
}

.custom-disabled {
	background-color: #f2f2f2 !important;
	border-color: #ccc !important;
	color: #ccc !important;
	font-weight: bold !important;
}

.custom-disabled:hover {
	background-color: #f2f2f2;
	border-color: #ccc;
	color: #ccc;
	font-weight: bold;
}

.freetime:hover {
	background-color: #bfbfbf;
	border-color: #00ffff;
	color: #000;
}

.ft-input {
	/*display: inline-block;*/
	width: 50%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.label-grey {
	background: #f2f2f2;
	color: #b3b3b3;
}

/** UTILS **/

/* dev debug borders */
.debug-border {
	border-style: solid;
	border-color: #c2c2d6;
	border-width: 1px;
}

.debug-focus {
	border-style: solid;
	border-color: #00ffff;
	border-width: 3px;
	border-radius: 5px;
	box-shadow: 0 0 10px #00ffff;
}

.debug-okay {
	border-style: solid;
	border-color: #66ff66;
	border-width: 3px;
	border-radius: 5px;
	box-shadow: 0 0 10px #66ff66;
}

.debug-error {
	border-style: solid;
	border-color: #ff0066;
	border-width: 3px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ff0066;
}

/** BOOTSTRAP OVERRIDES **/

/* Testing user-portal classes */
.user-portal-btn {
	vertical-align: middle;
	border: 1px solid #ccc;
	color: #f1f1f1;
	padding: 6px 12px;
	font-size: 24px;
	font-weight: bold;
}

/** TESTING **/
#carousel-custom {
  margin: 20px auto;
}
#carousel-custom .carousel-indicators {
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: center;
  white-space: nowrap;
  width: 100%;
	bottom: 0 !important;
}
#carousel-custom .carousel-indicators .active {
	border-color: #64999e;
  background-color: #5bc0de !important;
	color: #f5f5f5;
	width: 50%;
	height: auto;
}
